{% extends "base.html" %}
{% block title %}Об авторе проекта {% endblock %}
{% block header %} {% endblock %}
{% load static %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <a href="https://vk.com/zhuk_v_s">VK</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          
            <h2>Всем привет!</h2><br> 
            <p align="justify">Меня зовут Виталий и мне 28! Работаю в налоговой инспекции по направлению защиты информации.
                Мечтаю сменить рабочую деятельность и уйти в разработку, так как это направление более интересно
                и большинство друзей уже работает разработчиками, надеюсь на успех!
            </p><br><br>

      </div>
      <img src="{% static 'img/photo_2022-07-10_21-42-35.jpg' %}">
    </div>
  </div>
{% endblock %}