<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block header %} {% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Технологии
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                На этой странице можно рассказать:
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p> "Технологии"</p>
            В проекте реализованы следующие функции:
            <p> - добавление/удаление постов авторизованными пользователями</p>
            <p> - редактирование постов только его автором</p>
            <p> - возможность авторизованным пользователям оставлять комментарии к постам</p>
            <p> - подписка/отписка на понравившихся авторов</p>
            <p> - создание отдельной ленты с постами авторов, на которых подписан пользователь</p>
            <p> - создание отдельной ленты постов по группам(тематикам)</p>
            Инструментарий:
            <p> Django 2.2</p>
            <p> Python 3.9</p>
            <p> Django Unittest</p>
            <p> Django debug toolbar</p>
            <p>  PostgreSQL</p>
            <p>  Django ORM</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}